{% extends 'viagens/base.html' %}
{% block title %}Lista de Viagens{% endblock %}
{% block content %}

<h2 class="mb-4">Viagens Disponíveis</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Origem</th>
      <th>Destino</th>
      <th>Horário</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for viagem in viagens %}
    <tr>
      <td>{{ viagem.origem }}</td>
      <td>{{ viagem.destino }}</td>
      <td>{{ viagem.horario|date:"d \d\e F \d\e Y \à\s H:i" }}</td>
      <td>
        <a href="{% url 'detalhar_viagem' viagem.id %}" class="btn btn-info btn-sm">Ver mais informações</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">Nenhuma viagem cadastrada.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
